<div *ngIf="device">
    <h2>{{device.name}} details</h2>
    <div><label>Id: </label>{{device.id}}</div>
    <div>
        <div *ngIf="!editEnabled">
            <label>Name: </label> {{device.name}}
        </div>
        <div *ngIf="editEnabled">
            <label>Name: </label>
            <input [(ngModel)]="device.name" placeholder="name" />
        </div>
    </div>
    <div>
        <div *ngIf="!editEnabled">
            <label>Uri: </label> {{device.uri}}
        </div>
        <div *ngIf="editEnabled">
            <label>Uri: </label>
            <input *ngIf="editEnabled" [(ngModel)]="device.uri" placeholder="uri://devicename" />
        </div>
    </div>
    <div>
        <div *ngIf="editEnabled">
            <button (click)="save()">Save</button>
            <button (click)="cancel()">Cancel</button>
        </div>
        <div *ngIf="!editEnabled">
            <button (click)="enableEdit()">Edit</button>
            <button (click)="remove()">Remove</button>
            <button (click)="back()">Back</button>
        </div>
    </div>
</div>