h1 {
  font-size: 1.5em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 1.22em;
  margin-top: #977;
  padding-top: 0;
}
body {
  margin: 2em;
}
.error {
  color:red;
}

 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */